@import "~bootstrap-icons/font/bootstrap-icons.css";

.cls-logo{
   width: 30px;
   height: 30px;
}

.cls-header{
   background-color: #F29F05;

   button:hover{
      background-color: #F25244;
      border-color: #F25244;
      color: #fff;

   }
}

.cls-footer{
   background-color: #1B1C29;
}

/* Color Theme Swatches in Hex */
// .EduFree1-1-hex { color: #1B1C29; }
// .EduFree1-2-hex { color: #162440; }
// .EduFree1-3-hex { color: #F25244; }
// .EduFree1-4-hex { color: #F29F05; }
// .EduFree1-5-hex { color: #D3D0C2; }