<router-outlet></router-outlet>


<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="mainNav">
   <div class="container px-1">
      <a class="navbar-brand" href="#page-top">
         <img src="../assets/images/logo.png" alt="" class="cls-logo">
         Universitaria EduFree
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
         aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ms-auto">
            <li class="nav-item">
               <a class="nav-link active" routerLink="/programas-en-oferta" routerLinkActive="active">Programas
                  Ofertados</a>
            </li>
         </ul>
      </div>
   </div>
</nav>

<main class="container-fixed cls-login m-0 p-0">
   <section class="vh-25 cls-bg-login">
      <div class="container py-5 h-100">
         <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
               <div class="card" style="border-radius: 1rem">
                  <div class="row g-0">
                     <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <img src="/assets/images/login.jpg" alt="login form" class="img-fluid"
                           style="border-radius: 1rem 0 0 1rem; height: 721; width: 480" />
                     </div>
                     <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
                           <form [formGroup]="formLogin">
                              <h2 class="fw-normal display-1 mb-3 pb-3" style="letter-spacing: 1px">
                                 Inicia Sesión
                              </h2>

                              <div class="form-outline mb-4">
                                 <input type="email" id="email" class="form-control form-control-lg"
                                    formControlName="codigo" placeholder="juan.botero@edufree.edu.co" />
                                 <label class="form-label" for="email">Correo Electrónico</label>
                              </div>

                              <div class="form-outline mb-4">
                                 <input type="password" id="contrasenia" class="form-control form-control-lg"
                                    formControlName="contrasenia" placeholder="**********" />
                                 <label class="form-label" for="contrasenia">Contraseña</label>
                              </div>
                              <a class="small text-muted" href="#!">¿Olvidó su Contraseña?</a>

                              <div class="pt-1 mb-4 d-grid gap-2 col-6 mx-auto m-5">
                                 <button class="btn btn-outline-success" type="button" [disabled]="!formLogin.valid" (click)="mostrarInfo()">
                                    Login
                                 </button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>

<!-- Footer -->
<footer class="bg-dark text-center text-white">
   <div class="container p-4 pb-0">
      <section class="mb-4">
         <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-facebook"></i></a>
         <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-twitter"></i></a>
         <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-instagram"></i></a>
         <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-linkedin"></i></a>
      </section>
   </div>

   <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright:
      <a class="text-white" href="https://misiontic.ucaldas.edu.co/">misiontic.ucaldas.edu</a>
   </div>
</footer>